<form [formGroup]="regionForm">
    <div class="regions">
        <div class="row">
            <div class="col-md-6">
                <div class="dropdown_contain">
                    <label for="region">{{ label }}</label>
                    <select class="dropdownSelect" id="region"
                        formControlName="selectedRegion"
                        (ngModelChange)="onRegionChange()">
                        <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dropdown_contain">
                    <label for="country">{{ countryLabel }}</label>
                    <select class="dropdownSelect" id="country"
                        formControlName="selectedCountry" 
                        (ngModelChange)="onCounteryChange()">
                        <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>